.about-page {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: space-between;
    align-items: center
}

.about-wrapper {
    flex: 2;
    margin: 5rem 2rem 0.5rem 2rem;
}

.about-wrapper p {
    margin: 1rem 0;
}

.about-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.contact-wrapper {
    flex: 1;
    margin: 4rem;
    text-align: center;
}