.about-page {
    overflow: auto;
    position: relative;
    z-index: 1;
    padding-top: var(--header-height);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 5rem;
    justify-content: space-between;
    align-items: center;
    color: rgb(var(--color-black-1));
}

.about-wrapper {
    text-align: center;
    flex: 3;
    padding: 3rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-wrapper p {
    margin: 2rem 0;
}

.about-wrapper a {
    color: var(--color-purple-1);
    text-decoration: none;
    font-weight: 600;
}

.about-wrapper .about {
    width: 70%;
    margin: 0 auto;
}

.about-button-wrapper {
    margin: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-wrapper {
    border-top: 2px dotted #000;
    width: 100%;
    flex: 1;
    padding: 4rem;
    text-align: center;
    bottom: 0;
}